<div class="sub-content maps-wizard">
    <div class="sub-content-box">
        <form class="sub-content-form maps-wizard-form confirmation-required"
            name="maps-wizard-form"
            id="maps-wizard-form"
            action="{{&actionPath}}"
            method="post"
            enctype="multipart/form-data">
            <input type="hidden" name="mainAction" id="mainAction" value="generate"/>
            <div class="main-action-container">
                <p class="text-center">Since this is the same Tile Map Generator used for <a target="_blank" href="https://www.reldens.com/">Reldens</a>, you can <a href="https://gitbook.reldens.com/maps-wizard" target="_blank">check the official documentation</a> on how each of the options below works.</p>
                <h3 class="select-option">What would you like to do?</h3>
                <ul class="wizard-options-container">
                    <li class="wizard-option-container active">
                        <div class="checkbox-container">
                            <input class="map-wizard-option with-state" type="radio" name="mapsWizardAction" id="mapsWizardAction-1" value="elements-object-loader" checked="checked"/>
                            <label class="main-option" for="mapsWizardAction-1">
                                Generate a SINGLE random map using single elements JSON files (LayerElementsObjectLoader)
                            </label>
                        </div>
                        <div class="maps-wizard-option-content mapsWizardAction-1-data">
                            <img data-toggle="modal" class="sample-image" src="/assets/sample-001.png" alt="Sample single map"/>
                            <p>
                                Generator Data example:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-object/map-data.json" target="_blank">
                                map-data.json
                                </a>
                            </p>
                            <button type="button" class="button button-primary set-sample-data" data-option-value="elements-object-loader">
                                Set Sample Data in "Generator Data"
                            </button>
                            <p>
                                Expected JSON files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-object/house-001.json" target="_blank">
                                    house-001.json
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-object/house-002.json" target="_blank">
                                    house-002.json
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-object/tree.json" target="_blank">
                                    tree.json
                                </a>
                            </p>
                            <p>
                                Expected Images files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-object/tilesheet.png" target="_blank">
                                    tilesheet.png
                                </a>
                            </p>
                            <p>
                                Note:<br/>
                                In the examples above, all the tileset JSON files use the same tileset image (this is because we used the already optimized version of the tileset).<br/>
                                Case disclaimer:
                                In theory, it should also work if each element has its own image, but this still needs to be tested.<br/>
                                For now, you can use the composite option to use multiple tileset images and those will be merged by the generator which use the Tile Map Optimizer.
                            </p>
                        </div>
                    </li>
                    <li class="wizard-option-container">
                        <div class="checkbox-container">
                            <input class="map-wizard-option with-state" type="radio" name="mapsWizardAction" id="mapsWizardAction-2" value="elements-composite-loader"/>
                            <label class="main-option" for="mapsWizardAction-2">
                                Generate a SINGLE random map using a single JSON file that will contain all the elements with the information set on the map file properties (LayerElementsCompositeLoader)
                            </label>
                        </div>
                        <div class="maps-wizard-option-content mapsWizardAction-2-data">
                            <img data-toggle="modal" class="sample-image" src="/assets/sample-002.png" alt="Sample single map"/>
                            <p>
                                Generator Data example:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/map-composite-data.json" target="_blank">
                                    map-composite-data.json
                                </a>
                            </p>
                            <button type="button" class="button button-primary set-sample-data" data-option-value="elements-composite-loader">
                                Set Sample Data in "Generator Data"
                            </button>
                            <p>
                                Expected JSON files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/reldens-town-composite.json" target="_blank">
                                    reldens-town-composite.json
                                </a>
                            </p>
                            <p>
                                Expected Images files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/outside.png" target="_blank">
                                    outside.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/terrain.png" target="_blank">
                                    terrain.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/house.png" target="_blank">
                                    house.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/doors.png" target="_blank">
                                    doors.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/water.png" target="_blank">
                                    water.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/inside.png" target="_blank">
                                    inside.png
                                </a><br/>
                            </p>
                            <p>
                                Note:<br/>
                                In this case, as you can see, we have a single tile map JSON file which contains several tilesets with different images.<br/>
                                All the original contents are 16x16 pixels, so you can see we set "factor: 2" in the sample params to run the optimizer and get tiles of 32x32 pixels in the result.
                            </p>
                        </div>
                    </li>
                    <li class="wizard-option-container">
                        <div class="checkbox-container">
                            <input class="map-wizard-option with-state" type="radio" name="mapsWizardAction" id="mapsWizardAction-3" value="multiple-by-loader"/>
                            <label class="main-option" for="mapsWizardAction-3">
                                Generate MULTIPLE random maps using a JSON file for the options and another for the elements (MultipleByLoaderGenerator)
                            </label>
                        </div>
                        <div class="maps-wizard-option-content mapsWizardAction-3-data">
                            <img data-toggle="modal" class="sample-image" src="/assets/sample-002.png" alt="Sample single map"/>
                            <p>
                                Generator Data example:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/map-composite-data.json" target="_blank">
                                    map-composite-data-with-names.json
                                </a>
                            </p>
                            <button type="button" class="button button-primary set-sample-data" data-option-value="multiple-by-loader">
                                Set Sample Data in "Generator Data"
                            </button>
                            <p>
                                Expected JSON files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/reldens-town-composite.json" target="_blank">
                                    reldens-town-composite.json
                                </a>
                            </p>
                            <p>
                                Expected Images files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/outside.png" target="_blank">
                                    outside.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/terrain.png" target="_blank">
                                    terrain.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/house.png" target="_blank">
                                    house.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/doors.png" target="_blank">
                                    doors.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/water.png" target="_blank">
                                    water.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/inside.png" target="_blank">
                                    inside.png
                                </a><br/>
                            </p>
                            <p>
                                Note:<br/>
                                In this case we have the same structure as in the SINGLE import, but we include multiple map names in the provided data and use a different loader to create multiple maps at once.
                            </p>
                        </div>
                    </li>
                    <li class="wizard-option-container">
                        <div class="checkbox-container">
                            <input class="map-wizard-option with-state" type="radio" name="mapsWizardAction" id="mapsWizardAction-4" value="multiple-with-association-by-loader"/>
                            <label class="main-option" for="mapsWizardAction-4">
                                Generate MULTIPLE random maps with a JSON file for the options and another for the elements and with sub-maps (MultipleWithAssociationsByLoaderGenerator)
                            </label>
                        </div>
                        <div class="maps-wizard-option-content mapsWizardAction-4-data">
                            <img data-toggle="modal" class="sample-image" src="/assets/sample-002.png" alt="Sample single map"/>
                            <p>
                                Generator Data example:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/map-composite-data.json" target="_blank">
                                    map-composite-data-with-associations.json
                                </a>
                            </p>
                            <button type="button" class="button button-primary set-sample-data" data-option-value="multiple-with-association-by-loader">
                                Set Sample Data in "Generator Data"
                            </button>
                            <p>
                                Expected JSON files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/reldens-town-composite-with-associations.json" target="_blank">
                                    reldens-town-composite-with-associations.json
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/house-composite.json" target="_blank">
                                    house-composite.json
                                </a>
                            </p>
                            <p>
                                Expected Images files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/outside.png" target="_blank">
                                    outside.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/terrain.png" target="_blank">
                                    terrain.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/house.png" target="_blank">
                                    house.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/doors.png" target="_blank">
                                    doors.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/water.png" target="_blank">
                                    water.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/inside.png" target="_blank">
                                    inside.png
                                </a><br/>
                            </p>
                            <p>
                                Note:<br/>
                                In this case we have the same structure as in the SINGLE import, but we include multiple maps information and the association options in the provided data, but use a different loader to create multiple associated maps at once.
                            </p>
                        </div>
                    </li>
                </ul>
                <hr/>
                <div class="text-center">
                    <p class="alert"><strong>IMPORTANT: All uploaded files are deleted from the server every hour.</strong></p>
                    <p>Note: Because of this hourly cleanup, you can submit the form again within the same hour without re‑uploading your files.
                        <br/>If you want to use the sample generator data, you still need to download the example files for each case and attach them in the form below.
                        <br/>After the hour resets, you’ll need to upload the files again.
                    </p>
                    <div class="input-box">
                        <label for="generatorImages">Images</label>
                        <input type="file" name="generatorImages" id="generatorImages" multiple="multiple"/>
                    </div>
                    <div class="input-box">
                        <label for="generatorJsonFiles">JSON Files</label>
                        <input type="file" name="generatorJsonFiles" id="generatorJsonFiles" multiple="multiple"/>
                    </div>
                </div>
                <hr/>
                <label for="generatorData">Generator data:</label>
                <textarea name="generatorData" id="generatorData" class="generatorData" cols="30" rows="10" placeholder="JSON data for map generation process" required="required"></textarea>
            </div>
            <div class="submit-container">
                <input type="submit" class="button button-primary button-maps-wizard" value="Generate"/>
                <img class="hidden loading" src="/assets/loading.gif"/>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    let data = {
        'elements-object-loader': JSON.stringify({
            tileSize: 32,
            tileSheetPath: 'tilesheet.png',
            tileSheetName: 'tilesheet.png',
            imageHeight: 578,
            imageWidth: 612,
            tileCount: 306,
            columns: 18,
            margin: 1,
            spacing: 2,
            elementsQuantity: {
                house1: 3,
                house2: 2,
                tree: 6
            },
            groundTile: 116,
            mainPathSize: 3,
            blockMapBorder: true,
            freeSpaceTilesQuantity: 2,
            variableTilesPercentage: 15.0,
            pathTile: 121,
            collisionLayersForPaths: ['change-points', 'collisions', 'tree-base'],
            randomGroundTiles: [26, 27, 28, 29, 30, 36, 37, 38, 39, 50, 51, 52, 53],
            surroundingTiles: {
                '-1,-1': 127,
                '-1,0': 124,
                '-1,1': 130,
                '0,-1': 126,
                '0,1': 129,
                '1,-1': 132,
                '1,0': 131,
                '1,1': 133
            },
            corners: {
                '-1,-1': 285,
                '-1,1': 284,
                '1,-1': 283,
                '1,1': 282
            },
            layerElementsFiles: {
                house1: 'house-001.json',
                house2: 'house-002.json',
                tree: 'tree.json'
            }
        }),
        'elements-composite-loader': JSON.stringify({
            factor: 2,
            mainPathSize: 3,
            blockMapBorder: true,
            freeSpaceTilesQuantity: 2,
            variableTilesPercentage: 15,
            collisionLayersForPaths: ['change-points', 'collisions', 'tree-base'],
            compositeElementsFile: 'reldens-town-composite.json',
            automaticallyExtrudeMaps: '1'
        }),
        'multiple-by-loader': JSON.stringify({
            factor: 2,
            mainPathSize: 3,
            blockMapBorder: true,
            freeSpaceTilesQuantity: 2,
            variableTilesPercentage: 15,
            collisionLayersForPaths: ['change-points', 'collisions', 'tree-base'],
            mapNames: ['map-001', 'map-002', 'map-003'],
            compositeElementsFile: 'reldens-town-composite.json',
            automaticallyExtrudeMaps: '1'
        }),
        'multiple-with-association-by-loader': JSON.stringify({
            factor: 2,
            mainPathSize: 3,
            blockMapBorder: true,
            freeSpaceTilesQuantity: 2,
            variableTilesPercentage: 15,
            collisionLayersForPaths: ['change-points', 'collisions', 'tree-base'],
            mapsInformation: [
                {mapName: 'town-001', mapTitle: 'Town 1'},
                {mapName: 'town-002', mapTitle: 'Town 2'},
                {mapName: 'town-003', mapTitle: 'Town 3'},
                {mapName: 'town-004', mapTitle: 'Town 4'}
            ],
            associationsProperties: {
                generateElementsPath: false,
                blockMapBorder: true,
                freeSpaceTilesQuantity: 0,
                variableTilesPercentage: 0,
                placeElementsOrder: 'inOrder',
                orderElementsBySize: false,
                randomizeQuantities: true,
                applySurroundingPathTiles: false,
                automaticallyExtrudeMaps: true
            },
            compositeElementsFile: 'reldens-town-composite-with-associations.json',
            automaticallyExtrudeMaps: '1'
        })
    };

    let options = document.querySelectorAll('.set-sample-data');
    let generatorDataElement = document.querySelector('.generatorData');
    if(generatorDataElement){
        for(let option of options){
            option.addEventListener('click', () => {
                generatorDataElement.value = data[option.dataset.optionValue] || '';
            });
        }
    }

</script>
