<div class="sub-content maps-wizard">
    <div class="sub-content-box">
        <form class="sub-content-form maps-wizard-form confirmation-required"
            name="maps-wizard-form"
            id="maps-wizard-form"
            action="{{&actionPath}}"
            method="post"
            enctype="multipart/form-data">
            <input type="hidden" name="mainAction" id="mainAction" value="generate"/>
            <div class="main-action-container">
                <p class="text-center">Since this is the same Tile Map Generator used for <a target="_blank" href="https://www.reldens.com/">Reldens</a>, you can <a href="https://gitbook.reldens.com/maps-wizard" target="_blank">check the official documentation</a> on how each of the options below works.</p>
                <h3 class="select-option">What would you like to do?</h3>
                <ul class="wizard-options-container">
                    <li class="wizard-option-container active">
                        <div class="checkbox-container">
                            <input class="map-wizard-option with-state" type="radio" name="mapsWizardAction" id="mapsWizardAction-1" value="elements-object-loader" checked="checked"/>
                            <label class="main-option" for="mapsWizardAction-1">
                                Generate a SINGLE random map using single elements JSON files (LayerElementsObjectLoader)
                            </label>
                        </div>
                        <div class="maps-wizard-option-content mapsWizardAction-1-data">
                            <img data-toggle="modal" class="sample-image" src="/assets/sample-001.png" alt="Sample single map"/>
                            <p>
                                In the examples above, all the tileset JSON files use the same tileset image (this is because we used the already optimized version of the tileset).<br/>
                                Case disclaimer:
                                In theory, it should also work if each element has its own image, but this still needs to be tested.<br/>
                                For now, you can use the composite option to use multiple tileset images and those will be merged by the generator which use the Tile Map Optimizer.
                            </p>
                            <p>
                                Generator Data example:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-object/map-data.json" target="_blank">
                                    map-data.json
                                </a>
                            </p>
                            <p>
                                Expected JSON files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-object/house-001.json" target="_blank">
                                    house-001.json
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-object/house-002.json" target="_blank">
                                    house-002.json
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-object/tree.json" target="_blank">
                                    tree.json
                                </a>
                            </p>
                            <p>
                                Expected Images files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-object/tilesheet.png" target="_blank">
                                    tilesheet.png
                                </a>
                            </p>
                        </div>
                        <div class="config-container config-option-1">
                            <h4>Configuration Options</h4>
                            <div class="config-grid">
                                <div class="config-item">
                                    <label for="tileSize-1">Tile Size:</label>
                                    <input type="number" id="tileSize-1" name="tileSize-1" class="config-input" data-option="elements-object-loader" data-property="tileSize" value="32">
                                </div>
                                <div class="config-item">
                                    <label for="tileSheetPath-1">Tile Sheet Path:</label>
                                    <input type="text" id="tileSheetPath-1" name="tileSheetPath-1" class="config-input" data-option="elements-object-loader" data-property="tileSheetPath" value="tilesheet.png">
                                </div>
                                <div class="config-item">
                                    <label for="tileSheetName-1">Tile Sheet Name:</label>
                                    <input type="text" id="tileSheetName-1" name="tileSheetName-1" class="config-input" data-option="elements-object-loader" data-property="tileSheetName" value="tilesheet.png">
                                </div>
                                <div class="config-item">
                                    <label for="imageHeight-1">Image Height:</label>
                                    <input type="number" id="imageHeight-1" name="imageHeight-1" class="config-input" data-option="elements-object-loader" data-property="imageHeight" value="578">
                                </div>
                                <div class="config-item">
                                    <label for="imageWidth-1">Image Width:</label>
                                    <input type="number" id="imageWidth-1" name="imageWidth-1" class="config-input" data-option="elements-object-loader" data-property="imageWidth" value="612">
                                </div>
                                <div class="config-item">
                                    <label for="tileCount-1">Tile Count:</label>
                                    <input type="number" id="tileCount-1" name="tileCount-1" class="config-input" data-option="elements-object-loader" data-property="tileCount" value="306">
                                </div>
                                <div class="config-item">
                                    <label for="columns-1">Columns:</label>
                                    <input type="number" id="columns-1" name="columns-1" class="config-input" data-option="elements-object-loader" data-property="columns" value="18">
                                </div>
                                <div class="config-item">
                                    <label for="margin-1">Margin:</label>
                                    <input type="number" id="margin-1" name="margin-1" class="config-input" data-option="elements-object-loader" data-property="margin" value="1">
                                </div>
                                <div class="config-item">
                                    <label for="spacing-1">Spacing:</label>
                                    <input type="number" id="spacing-1" name="spacing-1" class="config-input" data-option="elements-object-loader" data-property="spacing" value="2">
                                </div>
                                <div class="config-item">
                                    <label for="groundTile-1">Ground Tile:</label>
                                    <input type="number" id="groundTile-1" name="groundTile-1" class="config-input" data-option="elements-object-loader" data-property="groundTile" value="116">
                                </div>
                                <div class="config-item">
                                    <label for="mainPathSize-1">Main Path Size:</label>
                                    <input type="number" id="mainPathSize-1" name="mainPathSize-1" class="config-input" data-option="elements-object-loader" data-property="mainPathSize" value="3">
                                </div>
                                <div class="config-item">
                                    <label for="blockMapBorder-1">Block Map Border:</label>
                                    <select id="blockMapBorder-1" name="blockMapBorder-1" class="config-input" data-option="elements-object-loader" data-property="blockMapBorder">
                                        <option value="true" selected>Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                                <div class="config-item">
                                    <label for="freeSpaceTilesQuantity-1">Free Space Tiles Quantity:</label>
                                    <input type="number" id="freeSpaceTilesQuantity-1" name="freeSpaceTilesQuantity-1" class="config-input" data-option="elements-object-loader" data-property="freeSpaceTilesQuantity" value="2">
                                </div>
                                <div class="config-item">
                                    <label for="variableTilesPercentage-1">Variable Tiles Percentage:</label>
                                    <input type="number" id="variableTilesPercentage-1" name="variableTilesPercentage-1" class="config-input" data-option="elements-object-loader" data-property="variableTilesPercentage" value="15.0">
                                </div>
                                <div class="config-item">
                                    <label for="pathTile-1">Path Tile:</label>
                                    <input type="number" id="pathTile-1" name="pathTile-1" class="config-input" data-option="elements-object-loader" data-property="pathTile" value="121">
                                </div>
                                <div class="config-item">
                                    <label for="collisionLayersForPaths-1">Collision Layers For Paths (comma separated):</label>
                                    <input type="text" id="collisionLayersForPaths-1" name="collisionLayersForPaths-1" class="config-input" data-option="elements-object-loader" data-property="collisionLayersForPaths" value="change-points,collisions,tree-base">
                                </div>
                                <div class="config-item">
                                    <label for="randomGroundTiles-1">Random Ground Tiles (comma separated):</label>
                                    <input type="text" id="randomGroundTiles-1" name="randomGroundTiles-1" class="config-input" data-option="elements-object-loader" data-property="randomGroundTiles" value="26,27,28,29,30,36,37,38,39,50,51,52,53">
                                </div>
                                <div class="config-item">
                                    <label for="elementsQuantity-1">Elements Quantity (JSON):</label>
                                    <textarea id="elementsQuantity-1" name="elementsQuantity-1" class="config-input" data-option="elements-object-loader" data-property="elementsQuantity" rows="4">{"house1": 3, "house2": 2, "tree": 6}</textarea>
                                </div>
                                <div class="config-item">
                                    <label for="surroundingTiles-1">Surrounding Tiles (JSON):</label>
                                    <textarea id="surroundingTiles-1" name="surroundingTiles-1" class="config-input" data-option="elements-object-loader" data-property="surroundingTiles" rows="4">{"-1,-1": 127, "-1,0": 124, "-1,1": 130, "0,-1": 126, "0,1": 129, "1,-1": 132, "1,0": 131, "1,1": 133}</textarea>
                                </div>
                                <div class="config-item">
                                    <label for="corners-1">Corners (JSON):</label>
                                    <textarea id="corners-1" name="corners-1" class="config-input" data-option="elements-object-loader" data-property="corners" rows="4">{"-1,-1": 285, "-1,1": 284, "1,-1": 283, "1,1": 282}</textarea>
                                </div>
                                <div class="config-item">
                                    <label for="layerElementsFiles-1">Layer Elements Files (JSON):</label>
                                    <textarea id="layerElementsFiles-1" name="layerElementsFiles-1" class="config-input" data-option="elements-object-loader" data-property="layerElementsFiles" rows="4">{"house1": "house-001.json", "house2": "house-002.json", "tree": "tree.json"}</textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="wizard-option-container">
                        <div class="checkbox-container">
                            <input class="map-wizard-option with-state" type="radio" name="mapsWizardAction" id="mapsWizardAction-2" value="elements-composite-loader"/>
                            <label class="main-option" for="mapsWizardAction-2">
                                Generate a SINGLE random map using a single JSON file that will contain all the elements with the information set on the map file properties (LayerElementsCompositeLoader)
                            </label>
                        </div>
                        <div class="maps-wizard-option-content mapsWizardAction-2-data">
                            <img data-toggle="modal" class="sample-image" src="/assets/sample-002.png" alt="Sample single map"/>
                            <p>
                                In this case, as you can see, we have a single tile map JSON file which contains several tilesets with different images.<br/>
                                All the original contents are 16x16 pixels, so you can see we set "factor: 2" in the sample params to run the optimizer and get tiles of 32x32 pixels in the result.
                            </p>
                            <p>
                                Generator Data example:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/map-composite-data.json" target="_blank">
                                    map-composite-data.json
                                </a>
                            </p>
                            <p>
                                Expected JSON files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/reldens-town-composite.json" target="_blank">
                                    reldens-town-composite.json
                                </a>
                            </p>
                            <p>
                                Expected Images files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/outside.png" target="_blank">
                                    outside.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/terrain.png" target="_blank">
                                    terrain.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/house.png" target="_blank">
                                    house.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/doors.png" target="_blank">
                                    doors.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/water.png" target="_blank">
                                    water.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/inside.png" target="_blank">
                                    inside.png
                                </a><br/>
                            </p>
                        </div>
                        <div class="config-container config-option-2">
                            <h4>Configuration Options</h4>
                            <div class="config-grid">
                                <div class="config-item">
                                    <label for="factor-2">Factor:</label>
                                    <input type="number" id="factor-2" name="factor-2" class="config-input" data-option="elements-composite-loader" data-property="factor" value="2">
                                </div>
                                <div class="config-item">
                                    <label for="mainPathSize-2">Main Path Size:</label>
                                    <input type="number" id="mainPathSize-2" name="mainPathSize-2" class="config-input" data-option="elements-composite-loader" data-property="mainPathSize" value="3">
                                </div>
                                <div class="config-item">
                                    <label for="blockMapBorder-2">Block Map Border:</label>
                                    <select id="blockMapBorder-2" name="blockMapBorder-2" class="config-input" data-option="elements-composite-loader" data-property="blockMapBorder">
                                        <option value="true" selected>Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                                <div class="config-item">
                                    <label for="freeSpaceTilesQuantity-2">Free Space Tiles Quantity:</label>
                                    <input type="number" id="freeSpaceTilesQuantity-2" name="freeSpaceTilesQuantity-2" class="config-input" data-option="elements-composite-loader" data-property="freeSpaceTilesQuantity" value="2">
                                </div>
                                <div class="config-item">
                                    <label for="variableTilesPercentage-2">Variable Tiles Percentage:</label>
                                    <input type="number" id="variableTilesPercentage-2" name="variableTilesPercentage-2" class="config-input" data-option="elements-composite-loader" data-property="variableTilesPercentage" value="15">
                                </div>
                                <div class="config-item">
                                    <label for="collisionLayersForPaths-2">Collision Layers For Paths (comma separated):</label>
                                    <input type="text" id="collisionLayersForPaths-2" name="collisionLayersForPaths-2" class="config-input" data-option="elements-composite-loader" data-property="collisionLayersForPaths" value="change-points,collisions,tree-base">
                                </div>
                                <div class="config-item">
                                    <label for="compositeElementsFile-2">Composite Elements File:</label>
                                    <input type="text" id="compositeElementsFile-2" name="compositeElementsFile-2" class="config-input" data-option="elements-composite-loader" data-property="compositeElementsFile" value="reldens-town-composite.json">
                                </div>
                                <div class="config-item">
                                    <label for="automaticallyExtrudeMaps-2">Automatically Extrude Maps:</label>
                                    <select id="automaticallyExtrudeMaps-2" name="automaticallyExtrudeMaps-2" class="config-input" data-option="elements-composite-loader" data-property="automaticallyExtrudeMaps">
                                        <option value="1" selected>Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="wizard-option-container">
                        <div class="checkbox-container">
                            <input class="map-wizard-option with-state" type="radio" name="mapsWizardAction" id="mapsWizardAction-3" value="multiple-by-loader"/>
                            <label class="main-option" for="mapsWizardAction-3">
                                Generate MULTIPLE random maps using a JSON file for the options and another for the elements (MultipleByLoaderGenerator)
                            </label>
                        </div>
                        <div class="maps-wizard-option-content mapsWizardAction-3-data">
                            <img data-toggle="modal" class="sample-image" src="/assets/sample-002.png" alt="Sample single map"/>
                            <p>
                                In this case we have the same structure as in the SINGLE import, but we include multiple map names in the provided data and use a different loader to create multiple maps at once.
                            </p>
                            <p>
                                Generator Data example:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/map-composite-data.json" target="_blank">
                                    map-composite-data-with-names.json
                                </a>
                            </p>
                            <p>
                                Expected JSON files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/reldens-town-composite.json" target="_blank">
                                    reldens-town-composite.json
                                </a>
                            </p>
                            <p>
                                Expected Images files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/outside.png" target="_blank">
                                    outside.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/terrain.png" target="_blank">
                                    terrain.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/house.png" target="_blank">
                                    house.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/doors.png" target="_blank">
                                    doors.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/water.png" target="_blank">
                                    water.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/inside.png" target="_blank">
                                    inside.png
                                </a><br/>
                            </p>
                        </div>
                        <div class="config-container config-option-3">
                            <h4>Configuration Options</h4>
                            <div class="config-grid">
                                <div class="config-item">
                                    <label for="factor-3">Factor:</label>
                                    <input type="number" id="factor-3" name="factor-3" class="config-input" data-option="multiple-by-loader" data-property="factor" value="2">
                                </div>
                                <div class="config-item">
                                    <label for="mainPathSize-3">Main Path Size:</label>
                                    <input type="number" id="mainPathSize-3" name="mainPathSize-3" class="config-input" data-option="multiple-by-loader" data-property="mainPathSize" value="3">
                                </div>
                                <div class="config-item">
                                    <label for="blockMapBorder-3">Block Map Border:</label>
                                    <select id="blockMapBorder-3" name="blockMapBorder-3" class="config-input" data-option="multiple-by-loader" data-property="blockMapBorder">
                                        <option value="true" selected>Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                                <div class="config-item">
                                    <label for="freeSpaceTilesQuantity-3">Free Space Tiles Quantity:</label>
                                    <input type="number" id="freeSpaceTilesQuantity-3" name="freeSpaceTilesQuantity-3" class="config-input" data-option="multiple-by-loader" data-property="freeSpaceTilesQuantity" value="2">
                                </div>
                                <div class="config-item">
                                    <label for="variableTilesPercentage-3">Variable Tiles Percentage:</label>
                                    <input type="number" id="variableTilesPercentage-3" name="variableTilesPercentage-3" class="config-input" data-option="multiple-by-loader" data-property="variableTilesPercentage" value="15">
                                </div>
                                <div class="config-item">
                                    <label for="collisionLayersForPaths-3">Collision Layers For Paths (comma separated):</label>
                                    <input type="text" id="collisionLayersForPaths-3" name="collisionLayersForPaths-3" class="config-input" data-option="multiple-by-loader" data-property="collisionLayersForPaths" value="change-points,collisions,tree-base">
                                </div>
                                <div class="config-item">
                                    <label for="mapNames-3">Map Names (comma separated):</label>
                                    <input type="text" id="mapNames-3" name="mapNames-3" class="config-input" data-option="multiple-by-loader" data-property="mapNames" value="map-001,map-002,map-003">
                                </div>
                                <div class="config-item">
                                    <label for="compositeElementsFile-3">Composite Elements File:</label>
                                    <input type="text" id="compositeElementsFile-3" name="compositeElementsFile-3" class="config-input" data-option="multiple-by-loader" data-property="compositeElementsFile" value="reldens-town-composite.json">
                                </div>
                                <div class="config-item">
                                    <label for="automaticallyExtrudeMaps-3">Automatically Extrude Maps:</label>
                                    <select id="automaticallyExtrudeMaps-3" name="automaticallyExtrudeMaps-3" class="config-input" data-option="multiple-by-loader" data-property="automaticallyExtrudeMaps">
                                        <option value="1" selected>Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="wizard-option-container">
                        <div class="checkbox-container">
                            <input class="map-wizard-option with-state" type="radio" name="mapsWizardAction" id="mapsWizardAction-4" value="multiple-with-association-by-loader"/>
                            <label class="main-option" for="mapsWizardAction-4">
                                Generate MULTIPLE random maps with a JSON file for the options and another for the elements and with sub-maps (MultipleWithAssociationsByLoaderGenerator)
                            </label>
                        </div>
                        <div class="maps-wizard-option-content mapsWizardAction-4-data">
                            <img data-toggle="modal" class="sample-image" src="/assets/sample-002.png" alt="Sample single map"/>
                            <p>
                                In this case we have the same structure as in the SINGLE import, but we include multiple maps information and the association options in the provided data, but use a different loader to create multiple associated maps at once.
                            </p>
                            <p>
                                Generator Data example:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/map-composite-data.json" target="_blank">
                                    map-composite-data-with-associations.json
                                </a>
                            </p>
                            <p>
                                Expected JSON files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/reldens-town-composite-with-associations.json" target="_blank">
                                    reldens-town-composite-with-associations.json
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/house-composite.json" target="_blank">
                                    house-composite.json
                                </a>
                            </p>
                            <p>
                                Expected Images files examples:<br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/outside.png" target="_blank">
                                    outside.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/terrain.png" target="_blank">
                                    terrain.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/house.png" target="_blank">
                                    house.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/doors.png" target="_blank">
                                    doors.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/water.png" target="_blank">
                                    water.png
                                </a><br/>
                                <a href="https://raw.githubusercontent.com/damian-pastorini/tile-map-generator/refs/heads/master/examples/layer-elements-composite/inside.png" target="_blank">
                                    inside.png
                                </a><br/>
                            </p>
                        </div>
                        <div class="config-container config-option-4">
                            <h4>Configuration Options</h4>
                            <div class="config-grid">
                                <div class="config-item">
                                    <label for="factor-4">Factor:</label>
                                    <input type="number" id="factor-4" name="factor-4" class="config-input" data-option="multiple-with-association-by-loader" data-property="factor" value="2">
                                </div>
                                <div class="config-item">
                                    <label for="mainPathSize-4">Main Path Size:</label>
                                    <input type="number" id="mainPathSize-4" name="mainPathSize-4" class="config-input" data-option="multiple-with-association-by-loader" data-property="mainPathSize" value="3">
                                </div>
                                <div class="config-item">
                                    <label for="blockMapBorder-4">Block Map Border:</label>
                                    <select id="blockMapBorder-4" name="blockMapBorder-4" class="config-input" data-option="multiple-with-association-by-loader" data-property="blockMapBorder">
                                        <option value="true" selected>Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                                <div class="config-item">
                                    <label for="freeSpaceTilesQuantity-4">Free Space Tiles Quantity:</label>
                                    <input type="number" id="freeSpaceTilesQuantity-4" name="freeSpaceTilesQuantity-4" class="config-input" data-option="multiple-with-association-by-loader" data-property="freeSpaceTilesQuantity" value="2">
                                </div>
                                <div class="config-item">
                                    <label for="variableTilesPercentage-4">Variable Tiles Percentage:</label>
                                    <input type="number" id="variableTilesPercentage-4" name="variableTilesPercentage-4" class="config-input" data-option="multiple-with-association-by-loader" data-property="variableTilesPercentage" value="15">
                                </div>
                                <div class="config-item">
                                    <label for="collisionLayersForPaths-4">Collision Layers For Paths (comma separated):</label>
                                    <input type="text" id="collisionLayersForPaths-4" name="collisionLayersForPaths-4" class="config-input" data-option="multiple-with-association-by-loader" data-property="collisionLayersForPaths" value="change-points,collisions,tree-base">
                                </div>
                                <div class="config-item">
                                    <label for="compositeElementsFile-4">Composite Elements File:</label>
                                    <input type="text" id="compositeElementsFile-4" name="compositeElementsFile-4" class="config-input" data-option="multiple-with-association-by-loader" data-property="compositeElementsFile" value="reldens-town-composite-with-associations.json">
                                </div>
                                <div class="config-item">
                                    <label for="automaticallyExtrudeMaps-4">Automatically Extrude Maps:</label>
                                    <select id="automaticallyExtrudeMaps-4" name="automaticallyExtrudeMaps-4" class="config-input" data-option="multiple-with-association-by-loader" data-property="automaticallyExtrudeMaps">
                                        <option value="1" selected>Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                                <div class="config-item">
                                    <label for="mapsInformation-4">Maps Information (JSON):</label>
                                    <textarea id="mapsInformation-4" name="mapsInformation-4" class="config-input" data-option="multiple-with-association-by-loader" data-property="mapsInformation" rows="4">[{"mapName": "town-001", "mapTitle": "Town 1"}, {"mapName": "town-002", "mapTitle": "Town 2"}, {"mapName": "town-003", "mapTitle": "Town 3"}, {"mapName": "town-004", "mapTitle": "Town 4"}]</textarea>
                                </div>
                                <div class="config-item">
                                    <label for="associationsProperties-4">Associations Properties (JSON):</label>
                                    <textarea id="associationsProperties-4" name="associationsProperties-4" class="config-input" data-option="multiple-with-association-by-loader" data-property="associationsProperties" rows="4">{"generateElementsPath": false, "blockMapBorder": true, "freeSpaceTilesQuantity": 0, "variableTilesPercentage": 0, "placeElementsOrder": "inOrder", "orderElementsBySize": false, "randomizeQuantities": true, "applySurroundingPathTiles": false, "automaticallyExtrudeMaps": true}</textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr/>
                <div class="text-center">
                    <p class="alert"><strong>IMPORTANT: All uploaded files are deleted from the server every hour.</strong></p>
                    <p>Note: Because of this hourly cleanup, you can submit the form again within the same hour without re‑uploading your files.
                        <br/>If you want to use the sample generator data, you still need to download the example files for each case and attach them in the form below.
                        <br/>After the hour resets, you'll need to upload the files again.
                    </p>
                    <div class="input-box">
                        <label for="generatorImages">Images</label>
                        <input type="file" name="generatorImages" id="generatorImages" multiple="multiple"/>
                    </div>
                    <div class="input-box">
                        <label for="generatorJsonFiles">JSON Files</label>
                        <input type="file" name="generatorJsonFiles" id="generatorJsonFiles" multiple="multiple"/>
                    </div>
                </div>
                <hr/>
                <label for="generatorData">Generator data:</label>
                <textarea name="generatorData" id="generatorData" class="generatorData" cols="30" rows="10" placeholder="JSON data for map generation process" required="required"></textarea>
            </div>
            <div class="submit-container">
                <input type="submit" class="button button-primary button-maps-wizard" value="Generate"/>
                <img class="hidden loading" src="/assets/loading.gif"/>
            </div>
        </form>
    </div>
</div>
